[Desktop Entry]
Type=Application
Name=PDF Form Editor
GenericName=PDF Form Editor
GenericName[de]=PDF-Formular-Editor
GenericName[fr]=Éditeur de formulaires PDF
{{#if comment}}
Comment={{comment}}
{{/if}}
Comment[de]=Desktop-Editor für PDF-Formularfelder
Comment[fr]=Éditeur de bureau pour les champs de formulaire PDF
Exec={{exec}}
Icon={{icon}}
StartupWMClass={{exec}}
StartupNotify=true
Terminal=false
Categories={{categories}}
Keywords=PDF;Form;AcroForm;Editor;Fields;Signature;
Keywords[de]=PDF;Formular;AcroForm;Editor;Felder;Unterschrift;Signatur;
Keywords[fr]=PDF;Formulaire;AcroForm;Éditeur;Champs;Signature;
